header{
    color: #fff;
    background-color: #333333;
}
h1{
    color: #fff;
}
section{
    color: #333333;
    background-color: #fff;
}

footer {
    position: relative;
    height: 100px;
    width: 100%;
    background-color: #333333;
}

.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}

